telegram-openrouter-bot.json
{
  "name": "Telegram OpenRouter AI Bot",
  "nodes": [
    {
      "parameters": {},
      "id": "f6b8b5e4-8e0a-4c5b-9d3e-2f1a8c7b9e0d",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "webhookId": "telegram-bot-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f23456789012",
      "name": "Is Start Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "🤖 Добро пожаловать в AI Assistant Bot!\n\nВыберите модель нейросети:",
        "additionalFields": {
          "reply_markup": {
            "inline_keyboard": [
              [
                {
                  "text": "🚀 GPT-4 Turbo",
                  "callback_data": "model_openai/gpt-4-turbo"
                },
                {
                  "text": "⚡ GPT-3.5 Turbo",
                  "callback_data": "model_openai/gpt-3.5-turbo"
                }
              ],
              [
                {
                  "text": "🎯 Claude 3.5 Sonnet",
                  "callback_data": "model_anthropic/claude-3.5-sonnet"
                },
                {
                  "text": "🧠 Claude 3 Haiku",
                  "callback_data": "model_anthropic/claude-3-haiku"
                }
              ],
              [
                {
                  "text": "🔥 Llama 3.1 70B",
                  "callback_data": "model_meta-llama/llama-3.1-70b-instruct"
                },
                {
                  "text": "💎 Gemini Pro",
                  "callback_data": "model_google/gemini-pro"
                }
              ],
              [
                {
                  "text": "🎨 DALL-E 3",
                  "callback_data": "model_openai/dall-e-3"
                },
                {
                  "text": "🖼️ Stable Diffusion",
                  "callback_data": "model_stability-ai/stable-diffusion-xl"
                }
              ],
              [
                {
                  "text": "📊 Показать все модели",
                  "callback_data": "show_all_models"
                }
              ]
            ]
          }
        }
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901234",
      "name": "Send Welcome Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.callback_query?.data }}",
              "rightValue": "model_",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d4e5f6g7-h8i9-0123-defg-456789012345",
      "name": "Is Model Selection",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Сохраняем выбранную модель в память пользователя\nconst callbackData = $input.first().json.callback_query.data;\nconst modelName = callbackData.replace('model_', '');\nconst userId = $input.first().json.callback_query.from.id;\nconst chatId = $input.first().json.callback_query.message.chat.id;\n\n// Словарь моделей с описаниями\nconst modelDescriptions = {\n  'openai/gpt-4-turbo': '🚀 GPT-4 Turbo - самая мощная модель OpenAI',\n  'openai/gpt-3.5-turbo': '⚡ GPT-3.5 Turbo - быстрая и эффективная модель',\n  'anthropic/claude-3.5-sonnet': '🎯 Claude 3.5 Sonnet - превосходная модель для анализа',\n  'anthropic/claude-3-haiku': '🧠 Claude 3 Haiku - быстрая модель Anthropic',\n  'meta-llama/llama-3.1-70b-instruct': '🔥 Llama 3.1 70B - мощная open-source модель',\n  'google/gemini-pro': '💎 Gemini Pro - продвинутая модель Google',\n  'openai/dall-e-3': '🎨 DALL-E 3 - генерация изображений от OpenAI',\n  'stability-ai/stable-diffusion-xl': '🖼️ Stable Diffusion XL - open-source генерация изображений'\n};\n\nreturn {\n  userId: userId,\n  chatId: chatId,\n  selectedModel: modelName,\n  modelDescription: modelDescriptions[modelName] || modelName,\n  callbackQueryId: $input.first().json.callback_query.id\n};"
      },
      "id": "e5f6g7h8-i9j0-1234-efgh-567890123456",
      "name": "Process Model Selection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "callbackQueryId": "={{ $json.callbackQueryId }}",
        "text": "✅ Модель выбрана!"
      },
      "id": "f6g7h8i9-j0k1-2345-fghi-678901234567",
      "name": "Answer Callback Query",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "{{ $json.modelDescription }}\n\n💬 Теперь отправьте ваш вопрос или запрос, и я обработаю его с помощью выбранной модели!\n\n📝 Для смены модели отправьте /start"
      },
      "id": "g7h8i9j0-k1l2-3456-ghij-789012345678",
      "name": "Send Model Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.callback_query?.data }}",
              "rightValue": "show_all_models",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "h8i9j0k1-l2m3-4567-hijk-890123456789",
      "name": "Is Show All Models",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        600
      ]
    },
    {
      "parameters": {
        "callbackQueryId": "={{ $json.callback_query.id }}",
        "text": "📋 Загружаю список моделей..."
      },
      "id": "i9j0k1l2-m3n4-5678-ijkl-901234567890",
      "name": "Answer Show Models Callback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        500
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "🤖 **Доступные модели OpenRouter:**\n\n**💬 Текстовые модели:**\n🚀 GPT-4 Turbo - Самая мощная модель OpenAI\n⚡ GPT-3.5 Turbo - Быстрая и эффективная\n🎯 Claude 3.5 Sonnet - Превосходный анализ\n🧠 Claude 3 Haiku - Быстрая модель Anthropic\n🔥 Llama 3.1 70B - Мощная open-source\n💎 Gemini Pro - Продвинутая модель Google\n🦙 Mixtral 8x7B - Эффективная модель Mistral\n🌟 Command R+ - Модель Cohere\n\n**🎨 Генерация изображений:**\n🎨 DALL-E 3 - От OpenAI\n🖼️ Stable Diffusion XL - Open-source\n🎭 Midjourney - Художественная генерация\n\n**🔧 Специализированные:**\n📝 Code Llama - Для программирования\n🔬 Perplexity - Для исследований\n📊 Claude Instant - Быстрый анализ\n\n💡 Для выбора модели используйте /start",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "j0k1l2m3-n4o5-6789-jklm-012345678901",
      "name": "Send All Models List",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1340,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.message?.text }}",
              "rightValue": "/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "k1l2m3n4-o5p6-7890-klmn-123456789012",
      "name": "Is Not Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Получаем сообщение пользователя\nconst userMessage = $input.first().json.message.text;\nconst userId = $input.first().json.message.from.id;\nconst chatId = $input.first().json.message.chat.id;\n\n// Здесь должна быть логика получения сохраненной модели пользователя\n// Для примера используем GPT-3.5 Turbo по умолчанию\nconst selectedModel = 'openai/gpt-3.5-turbo';\n\nreturn {\n  userMessage: userMessage,\n  userId: userId,\n  chatId: chatId,\n  selectedModel: selectedModel\n};"
      },
      "id": "l2m3n4o5-p6q7-8901-lmno-234567890123",
      "name": "Prepare AI Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        700
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "🤔 Обрабатываю ваш запрос с помощью {{ $json.selectedModel }}...",
        "additionalFields": {}
      },
      "id": "m3n4o5p6-q7r8-9012-mnop-345678901234",
      "name": "Send Processing Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1340,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.openrouter.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://your-site.com"
            },
            {
              "name": "X-Title",
              "value": "Telegram AI Bot"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $json.selectedModel }}"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"user\", \"content\": \"{{ $json.userMessage }}\"}]"
            },
            {
              "name": "max_tokens",
              "value": "=2000"
            },
            {
              "name": "temperature",
              "value": "=0.7"
            }
          ]
        },
        "options": {}
      },
      "id": "n4o5p6q7-r8s9-0123-nopq-456789012345",
      "name": "OpenRouter API Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Обрабатываем ответ от OpenRouter API\nconst response = $input.first().json;\nconst chatId = $('Prepare AI Request').first().json.chatId;\nconst selectedModel = $('Prepare AI Request').first().json.selectedModel;\n\nlet aiResponse = '';\nlet errorMessage = '';\n\ntry {\n  if (response.choices && response.choices.length > 0) {\n    aiResponse = response.choices[0].message.content;\n  } else if (response.error) {\n    errorMessage = `❌ Ошибка API: ${response.error.message}`;\n  } else {\n    errorMessage = '❌ Неожиданный формат ответа от API';\n  }\n} catch (error) {\n  errorMessage = `❌ Ошибка обработки ответа: ${error.message}`;\n}\n\nreturn {\n  chatId: chatId,\n  aiResponse: aiResponse,\n  errorMessage: errorMessage,\n  selectedModel: selectedModel,\n  hasError: !!errorMessage\n};"
      },
      "id": "o5p6q7r8-s9t0-1234-opqr-567890123456",
      "name": "Process AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.hasError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "p6q7r8s9-t0u1-2345-pqrs-678901234567",
      "name": "Has Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        800
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "{{ $json.errorMessage }}\n\n🔄 Попробуйте еще раз или выберите другую модель с помощью /start"
      },
      "id": "q7r8s9t0-u1v2-3456-qrst-789012345678",
      "name": "Send Error Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        700
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "🤖 **{{ $json.selectedModel }}:**\n\n{{ $json.aiResponse }}\n\n---\n💡 Отправьте еще один вопрос или используйте /start для смены модели",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "r8s9t0u1-v2w3-4567-rstu-890123456789",
      "name": "Send AI Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        900
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Is Start Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Model Selection",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Show All Models",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Not Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Start Command": {
      "main": [
        [
          {
            "node": "Send Welcome Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Model Selection": {
      "main": [
        [
          {
            "node": "Process Model Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Model Selection": {
      "main": [
        [
          {
            "node": "Answer Callback Query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Model Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Show All Models": {
      "main": [
        [
          {
            "node": "Answer Show Models Callback",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send All Models List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Not Command": {
      "main": [
        [],
        [
          {
            "node": "Prepare AI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Request": {
      "main": [
        [
          {
            "node": "Send Processing Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenRouter API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter API Request": {
      "main": [
        [
          {
            "node": "Process AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Response": {
      "main": [
        [
          {
            "node": "Has Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "your-instance-id"
  },
  "id": "telegram-openrouter-bot",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "ai-bot",
      "name": "AI Bot"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "telegram",
      "name": "Telegram"
    }
  ]
}